<%% title "Listing <%= gen_spec.plural_title %>" %>
<h1>Listing <%= gen_spec.plural_title %></h1>

<table class="sortable">
  <tr>
	<th>&nbsp;</th>
<% for cname in gen_spec.table_view_columns -%>
<% specs = gen_spec.column_specs[cname] -%>
    <th><%= specs[:label]%><%= " (#{specs[:units]})" if specs[:units]%></th>
<% end -%>
  </tr>

<%% @<%= gen_spec.plural_name %>.each do |<%= gen_spec.singular_name %>| %>
  <tr>
  <td><%%= link_to <%=gen_spec.singular_name%>.short_name, <%= gen_spec.singular_name %> %> </td>
<% for cname in gen_spec.table_view_columns -%>
<% specs = gen_spec.column_specs[cname] -%>
    <td align="<%=specs["align"]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% end -%>
  </tr>
<%% end %>
</table>

<br />

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>