  <%%=@<%=gen_spec.singular_name%>.short_name%>
  <ul class="model_header_ul">
<% for resource in gen_spec.nests_many -%>
          <li><%%=link_to "#{image_tag(<%=resource[:model]%>.icon, :border=>0, :alt=>'_')} <%=resource[:model].pluralize.titleize%>",  <%=gen_spec.singular_name%>_<%=resource[:name].pluralize%>_path(@<%=gen_spec.singular_name%>)%></li>
<%end -%>
  </ul>
