<%% title "Listing <%= gen_spec.plural_title %>" %>

<%%=data_table_start <%="#{gen_spec.plural_name}_#{next_count}".inspect%>%>

  <tr>
	<th>&nbsp;</th>
<% for cname, specs in gen_spec.safe_table_view_columns -%>
    <th><%= specs[:label]%><%= " (#{specs[:units]})" if specs[:units]%></th>
<% end -%>
  </tr>

<%% @<%= gen_spec.plural_name %>.each do |<%= gen_spec.singular_name %>| %>
  <tr>
    <td><%%= link_to <%=gen_spec.singular_name%>.short_name, <%= gen_spec.singular_name %> %> </td>
<% for cname, specs in gen_spec.safe_table_view_columns -%>
<% case specs[:type] -%>
<% when :file -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :integer -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :float -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :decimal -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :string -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :photo -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> %></td>
<% when :foreign_key -%>
    <td align="<%=specs[:align]%>"><%%=(h <%= gen_spec.singular_name %>.<%= gen_spec.belongs_to_name(cname) %>.short_name) if <%= gen_spec.singular_name %>.<%= gen_spec.belongs_to_name(cname) %> -%></td>
<% when :datetime -%>
    <td align="<%=specs[:align]%>"><%%=h <%= gen_spec.singular_name %>.<%= cname %> -%></td>
<% end -%><% end -%>
  </tr>
<%% end -%>

<%%=data_table_end <%="#{gen_spec.plural_name}_#{count}".inspect%>%>

<br />

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>