	<table style="width: inherit;">
		<tr>
    <td>
	    <%%=link_to "<img src='/images/icons/pencil.png' alt=''/> Edit", {:action=>"edit"}, :class=>"button"%>
	    </a>
		</td>
	 </tr>
	</table>

<div class="standard_padding">

<% for group in gen_spec.safe_form_groups -%>
<fieldset>
  <legend><%=group[:group_name]%></legend>
  <table>
	 
<% for attribute in group[:attributes] -%>
<tr>
<%options=gen_spec.column_specs[attribute] -%>
<td valign="top"><%= options[:label] %></td>
<% case options[:type] -%>
<% when :string -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :int -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :float -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :decimal -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :foreign_key -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=gen_spec.belongs_to_name(attribute)%>.try(:short_name)%></td>
<% when :file -%>
		<td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :photo -%>
    <td valign="top"><%%=@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% when :datetime -%>
    <td valign="top"><%%=standard_date@<%=gen_spec.singular_name%>.<%=attribute%>%></td>
<% end -%>
  </tr>
<% end -%>
 </table>
</fieldset>
<% end -%>
</div>
